<h1>hello~~~ world</h1>
<h1><?php echo $this->escapeHtml($this->getMessage()); ?></h1>
<h2><?php echo $this->escapeHtml($this->getGoodbyeMessage()); ?></h2>
<h2><?php echo $this->escapeHtml($this->getName()); ?></h2>